@charset "utf-8";
.row footer .row {
}

.row footer .row {
    background-color: maroon;
}

.container .row .col-lg-12.col-lg-10 {
}

.container .row .col-lg-12.col-lg-10 {
    background-color: maroon;
}

.navbar.navbar-expand-lg.navbar-light.bg-light #navbarSupportedContent1 .nav-link {
}

.container .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: red;
}

.container .row .col-lg-12.col-lg-10 {
    background-color: maroon;
}

.row .col-lg-12.col-lg-10 p {
    background-color: #FAFAFA;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: blue;
}

.weekend {
    background-color: blue;
}

footer {
}

footer {
    background-color: red;
}